:root,
:root::before,
:root::after {
	--transition-time: 0.3s;
	--side-width: 16rem;
	--head-height: 2.5rem;
	--border-radius: 6px;

	--side-width-collapsed: 4.5rem;
	--side-width-expanded: 16rem;

	--font-poppins: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-montserrat: "Montserrat", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		sans-serif;

	--theme-bg: #f9f9f9;
	--theme-bg-hover: #f0f0f0;
	--theme-bg-active: #e9e9e9;

	--theme-fg: #121212;
	--theme-fg-hover: #333333;
	--theme-fg-active: #272727;

	--shadow-color: 0, 0, 0;
	--back-shadow: rgba(0, 0, 0, 0.15);
	--back-shadow-dark: rgba(0, 0, 0, 0.2);
	--back-shadow-light: rgba(0, 0, 0, 0.05);

	--back-shadow: rgba(0, 0, 0, 0.2);
	--back-shadow-dark: rgba(0, 0, 0, 0.25);
	--back-shadow-light: rgba(0, 0, 0, 0.1);

	--accent-color: #232323;
	--accent-color-100: rgb(227, 227, 227);
	--accent-color-200: rgb(206, 206, 206);
	--accent-color-300: rgb(184, 184, 184);
	--accent-color-400: rgb(163, 163, 163);
	--accent-color-500: rgb(142, 142, 142);
	--accent-color-600: rgb(121, 121, 121);
	--accent-color-700: rgb(99, 99, 99);
	--accent-color-800: rgb(78, 78, 78);
	--accent-color-900: rgb(56, 56, 56);
}
