:root,
:root::before,
:root::after {
	--transition-time: 0.3s;

	--font-poppins: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-montserrat: "Montserrat", system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		sans-serif;

	--accent-color: #3f51b5;
	--theme-bg: #fff;
	--theme-fg: var(--accent-color);
}
